.chapter(data-title='Setting Up The Application')
  .step(
    data-title='What Are We Building?',
    data-file='LeadAlerts.Web/Views/Home/Index.cshtml')
    :markdown
      ## What Are We Building?

      You probably already have landing pages or product detail views in your
      web application, which you're using to generate leads for your sales
      force. In this tutorial, we'll use Twilio SMS to send your sales folks
      text messages right when a new lead comes in.

      In this example we'll be implementing instant lead alerts for real estate
      (much like [our awesome friends at
      Trulia](//www.twilio.com/customers/stories/trulia)). We'll create a
      landing page for a new house on the market, and notify a real estate agent
      the moment a potential customer requests information. If you're not in
      real estate, don't worry - the same technique can be used for any business
      that needs to distribute leads to sales people.

      Want to learn how it works? Then let's build it! Click the next arrow
      above to continue the tutorial.

      ---

      **See Also:**
      * [Sales Lead](//www.investopedia.com/terms/s/sales-lead.asp)
